.app {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100svh;
}
.divider {
  width: 80%;
  border: none;
  height: 2px;
  background-color: #ccc;
  margin: 5px auto;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

button {
  font-size: 25px;
  padding: 10px 15px;
  border-radius: 10px;
  width: 300px;
  cursor: pointer;
}

button.sumar {
  background-color: #b3ff95;
  border: 2px solid #547547;
}

button.restar {
  background-color: #ff8888;
  border: 2px solid #7f4747;
}

button.resetear {
  background-color: #ffd695;
  border: 2px solid #7c6a4d;
}
